@use '../../styles/mixins' as *;

.combo-library {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-3) var(--space-4);
  max-height: 280px;
  overflow-y: auto;

  @include scrollbar-thin;

  &--embedded {
    padding-top: 0;
    max-height: 240px;
  }
}
